

body{
background-color: black;
color: yellow !important;
}

H1{
	font-variant:small-caps;
	color:white;
	font-family: 'Piedra', cursive;
}


H2{
	color: red;

}
p{
	color:yellow !important;
}
font{
	color:yellow !important;
}